[submodule "PureOtp"]
	path = PureOtp
	url = https://github.com/shugaoye/PureOtp.git
	branch = passxyz
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/shugaoye/PassXYZLibDoc.git
